body {
    background: radial-gradient(circle, #efe8e8, #5b5bd0);
}
.subtitle-box {
    text-align: center;
     border-radius: 8px; /*скругление углов по радиусу */
    display: inline-block; /*свойство, которое устанавливает элемент как блочный. 
    Это позволяет элементу занимать только столько места, сколько необходимо для отображения его содержимого, но при этом сохранять блочную модель, 
    то есть имеет свойства блочных элементов, такие как возможность установки ширины и высоты, отступов, полей и так далее.
    возможность, чтобы несколько элементов размещались на одной линии*/
}
.subtitle-box h1 {
    margin: 0; 
    /*Это относится к установке отступов вокруг элемента, и если установлено значение 0, 
    то это означает, что отступов не будет. Обычно это используется для удаления пространства вокруг элемента*/
    font-size: 28px;
}
.form-container {
    max-width: 600px;
    margin: 0 auto; /*отступы сверху и снизу в 0 и автоматически центрирует элемент по горизонтали внутри его родительского контейнера.*/
    border-radius: 8px;
}
.form-section {
	margin-bottom: 20px;/*устанавливает нижний отступ элемента в 20 пикселей*/
}
.subtitle-box h3 {
    margin: 0;
    font-size: 18px;
}
.custom-button {
    padding: 10px 20px; /*задает отступы для элемента: 10 пикселей сверху и снизу, а также 20 пикселей слева и справа.*/
    background-color: #3498db;
    color: white;
    border: none; /*используется для удаления границы (линии) у элемента, чтобы он выглядел как блок без границы.*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3 s ease; /*что изменение цвета фона будет происходить за 0.3 секунды с эффектом easе*/
}
.custom-button:hover {
    background-color: rgb(110, 205, 237); /* Изменение цвета при наведении курсора */
  }
  
  .custom-button:focus {
    outline: none; /*обводка элемента отсутствует*/
    background-color: lightgreen; /* Изменение цвета при фокусе на элементе */
  }

.errorC {
    text-align: center;
}
.errorM {
    font-size: 30px;
    color: #ff0000;
     /* Каждая пара значений -1px -1px, 1px -1px, -1px 1px, 1px 1px указывает на смещение тени относительно текста */
    text-shadow: -1px -1px 0 #ffffff,  
                  1px -1px 0 #ffffff,  
                 -1px 1px 0 #ffffff,  
                  1px 1px 0 #ffffff; /* белый контур текста */
    font-weight: bold; /* текст становится жирным */
}
.errorI {  
    max-width: 200px;/* максимальная ширина, а высота автоматические подстраивается*/
    height: auto;
}

.search h1 {
    margin: 0;
    font-size: 20px;
}
.success-image {  
    max-width: 200px;
    height: auto;
}